* text=auto !eol
/apertium-en-mt.en-mt.dix -text
/apertium-en-mt.mt.metadix -text
/apertium-en-mt.post-mt.dix -text
/buscaPar.xsl -text
/principal.xsl -text
/translate-to-default-equivalent.xsl -text
