* text=auto !eol
/Makefile -text
/apertium-en-mt.en-mt.dix -text
/apertium-en-mt.mt.acx -text
/apertium-en-mt.mt.metadix -text
/apertium-en-mt.post-mt.dix -text
/buscaPar.xsl -text
/principal.xsl -text
/translate-to-default-equivalent.xsl -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
